################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/svc.birdcage.entity/bin/Debug
/svc.birdcage.entity/obj
/svc.birdcage.model/bin/Debug/net8.0
/svc.birdcage.model/obj
/svc.birdcage.model/bin/Debug
/svc.birdcage.hawk/bin/Debug
/svc.birdcage.hawk/obj
/svc.birdcage.parrot/bin/Debug
/svc.birdcage.parrot/obj
